<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div id="navbar">
        <nav class="custom-navbar navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="/">Tine<span>.</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                    aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Thanh tìm kiếm -->
                <form action="/search" method="post" class="d-flex align-items-center">
                    <div class="input-group input-group-sm">
                        <input class="form-control" type="search" placeholder="Search by product's name" name="name"
                            id="" required>
                    </div>
                    <div class="input-group-btn">
                    <button type="search" class="btn btn-success">Search</button>
                    </div>
                </form>

                {{!-- <form action="/adminpage/search" method="post">
                    <div class="form-group">
                        <input class="form-control" type="search" placeholder="Search by product's name" name="name"
                            id="" required>
                    </div>
                    <button type="search" class="btn btn-success">Search</button>
                </form> --}}

                
                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li><a class="nav-link" href="/transformers">Transformers</a></li>
                        <li><a class="nav-link" href="/ironman">Iron Man</a></li>
                        {{!-- <li><a class="nav-link" href="/adminpage">Admin</a></li> --}}
                        <li><a class="nav-link" href="https://www.facebook.com/messages/t/100026198554893">Contact</a>
                        </li>
                    </ul>

                    <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                        <li><a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a class="nav-link" href="/login"><i class="fa-regular fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {{{body}}}

    <div class="top_music">
        <a href="/">
            <iframe width="331" height="250" src="https://www.youtube.com/embed/h7cOOfpdEfk?si=RZJYtsP2CUMsj11l"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </a>
        <a href="/">
            <iframe width="331" height="250" src="https://www.youtube.com/embed/GpmOn4RyzZI?si=83NSGdJTB1c-iX1o"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </a>
        <a href="/">
            <iframe width="331" height="250" src="https://www.youtube.com/embed/3gNuUcPg1fk?si=YSUA1sBhhbAEJBAA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </a>
        <a href="/">
            <iframe width="331" height="250" src="https://www.youtube.com/embed/vPz8ftK_4bk?si=rLtK51TBio5c3Uqe"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </a>
    </div>
    <footer id="footer" class="text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3">
            <a id="footer_name" href="https://www.facebook.com/tien.hoanganh.169">©2023 by: Tien Hoang Anh</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>